.header{
  padding-top: 26px;
  & > div{
    display: flex;
  }
  .menu{
    align-self: center;
    a{
      margin-left: 43px;
      text-decoration: none;
    }
    li{
      display: inline;
    }
  }
  .logo{
    flex-grow: 1;
  }
}
