@import "smart-grid";
@import (less) "../fonts/DINPro/stylesheet.css";
@import (less) "../fonts/AvenirNextCyr/stylesheet.css";

.reset();

@import "variable";
@import "header";
@import "footer";
@import "servic";


.wrapper{
  .wrapper();
  .lg-block({
    max-width: 880px;
  });
  .md-block({
    max-width: 700px;
  });
  .sm-block({
    max-width: 560px;
  });
}
.row{
   .row-flex();
 }
body{
  background-color: @firstColor;
  font-family: "DIN Pro", "sans-serif" ;
  position: relative;
}

// Social icon
.social_icon{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  & > div{
    height: 100%;
    & > div{
      height: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
.div_soc_icon{
  z-index: 100;
  align-self: center;
  & > a:not(:last-child){
    margin-bottom: 40px;
    display: block;
  }
  img {
    margin-left: auto;
    display: block;
  }
  & > a:last-child{
    margin-bottom: 100px;
    display: block;
  }
  a:hover{
    opacity: 0.7;
  }
}
.flex_block{
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  .button{
    width: 30px;
    align-self: center;
    height: 30px;
    display: none;
    cursor: pointer;
    opacity: 0.5;
    &:hover{
      opacity: 0.8;
    }
    .lg-block({
      display: block;
    });
  }
}

// Home image
.home_img{
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  & > div{
    height: 100vh;
  }
  .cont{
    position: relative;
  }
  .img1{
    position: absolute;
    left: -60px;
    top: 223px;
  }
  .img2{
    position: absolute;
    left: 95px;
    top: 184px;
  }
  .img3_1{
    position: absolute;
    left: 346px;
    top: 308px;
    z-index: 10;
    width: 140px;
  }
  .img4{
    position: absolute;
    left: -114px;
    top: 412px;
  }
  .img5{
    position: absolute;
    left: 134px;
    top: 431px;
    z-index: 10;
  }
  .img6{
    position: absolute;
    left: 430px;
    top: 412px;
  }
  .img7_1{
    position: absolute;
    left: 111px;
    top: 209px;
    width: 150px;
  }
  .img8_1{
    position: absolute;
    left: -9px;
    top: 352px;
    z-index: 15;
    width: 200px;
  }
  .img9_1{
    position: absolute;
    left: -55px;
    top: 509px;
    width: 110px;
  }
  .img10_1{
    position: absolute;
    left: 173px;
    top: 332px;
    width: 270px;
  }
  .img11_1{
    position: absolute;
    left: 95px;
    top: 586px;
    width: 130px;
  }
  .img12{
    position: absolute;
    left: 375px;
    top: 545px;
  }
  .img13_1{
    position: absolute;
    left: 499px;
    top: 539px;
    width: 80px;
  }
  .img14_1{
    position: absolute;
    left: -22px;
    top: 255px;
    width: 78px;
  }
  .image1{
    background-image: url("../img/img_1_1.png");
  }
}
.pos_img{
  position: absolute;
  & > div{
    position: relative;
    & > img{
      position: absolute;

    }
  }
}
.front{
  transform: rotateY(0deg);
  transition: 4s;
  display: block!important;
  backface-visibility: hidden;
  perspective: 10000px;
}
.front_flip{
  transform: rotateY(180deg);
}
.back{
  transform: rotateY(180deg);
  display: block!important;
  transition: 4s;
  backface-visibility: hidden;
  perspective: 10000px;
}
.back_flip{
  transform: rotateY(360deg);
}
.up_image{
  transform: rotateY(90deg);
  transition: 0.5s ease;
}
.down_image{
  transform: rotateY(90deg);
  transition: 0.5s ease;
}
.home_des{
  position: absolute;
  top: calc(50% - 120px);
  left: calc(50% - 30px);
  .text{
    font-weight: 900;
    font-size: 36px;
    line-height: normal;
    font-family: 'DIN Pro Cond', 'serif';
  }
  .button{
    margin-top: 70px;
  //  background: linear-gradient(260.3deg, #880E4F -3.47%, #C51162 106.39%);
    border-radius: 30px;
    line-height: normal;
    font: 16px "Avenir Next Cyr";
    font-weight: 500;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: #D6C8C3;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
    transition: all 5s ease;
    background: linear-gradient(218deg, #880e4f, #c0c526);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 17s ease infinite;
    -moz-animation: AnimationName 17s ease infinite;
    animation: AnimationName 17s ease infinite;
  }
}
.menu{
  .lg-block({
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100px;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.5);
    li{
      align-self: center;
      padding: 20px 40px;
      a{
        margin-left: 0!important;
        padding: 20px 40px;
      }

    }
  });
}
.header{
  position: relative;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0 50%}
  50%{background-position:100% 50%}
  100%{background-position:0 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0 50%}
  50%{background-position:100% 50%}
  100%{background-position:0 50%}
}
@keyframes AnimationName {
  0%{background-position:0 50%}
  50%{background-position:100% 50%}
  100%{background-position:0 50%}
}

//Services

.services{
  padding-top: 60px;
  .img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img{
      &:nth-child(2){
        margin: 0 20px;
      }
      cursor: pointer;
      &:hover{
        opacity: 0.7;
      }
    }
  }
  flex-grow: 100;
  .head{
    text-align: center;
    margin: 65px 0 70px;
    .head_t(36px);
  }
}

